   </main>
    <footer class="page-footer blue darken-3">
        <div class="container">
        <div class="row">
            <div class="col l6 s12">
            <h5 class="white-text">Informações</h5>
            <p class="grey-text text-lighten-4">Aqui você encontra melhores preços, passagem, hoteis e restaurantes para sua comodidade, venha sentir o prazer de realizar uma compra simples e facil.</p>
            </div>
            <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Navegue</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="/">Inicio</a></li>
                <li><a class="grey-text text-lighten-3" href="/hotel/listagemHotel">Hoteis</a></li>
                <li><a class="grey-text text-lighten-3" href="/translado/listagemTranslado">Translado</a></li>
                <li><a class="grey-text text-lighten-3" href="/restaurante/listagemRestaurante">Restaurantes</a></li>
                <li><a class="grey-text text-lighten-3" href="/passeio/listagemPasseio">Passeio</a></li>
            </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
        <div class="container">
        © 2021 Copyright Travel Brazil
        </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="/javascripts/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils/cep.js"></script>
    

    <script>
      //timepicker
$(document).ready(function(){
    $('.timepicker').timepicker({
      twelveHour: false
    });
  });

    //picker 
$(document).ready(function(){
    $('.datepicker').datepicker({
    i18n: {
    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
    weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
    weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
    today: 'Hoje',
    clear: 'Limpar',
    cancel: 'Sair',
    done: 'Confirmar',
    labelMonthNext: 'Próximo mês',
    labelMonthPrev: 'Mês anterior',
    labelMonthSelect: 'Selecione um mês',
    labelYearSelect: 'Selecione um ano',
    selectMonths: true,
    selectYears: 15,
    },
    format: 'dd/mm/yyyy',
    container: 'body',
    minDate: new Date(),
});
    
  });

     $(document).ready(function() {
        M.updateTextFields();
        
    });    
      //Sidenav
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });

      //Select           
      $(document).ready(function(){
        $('select').formSelect();
      });

      //MaterialBoxed           
      $(document).ready(function(){
        $('.materialboxed').materialbox();
      });
      //Footer
      $(".dropdown-trigger").dropdown();

      //Parallax
      $(document).ready(function(){
            $('.parallax').parallax();
      });

      //slider
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, {
            indicators: true,
            height: 500,
            transition: 3500,
            interval: 3500
        });
      });

      //AutoComplete
      const ac = document.querySelector('.autocomplete');
      M.Autocomplete.init(ac, {
          data: {
              "Bahia": null,
              "Nordeste": null,
              "Natal": null,
              "São Paulo": null,
              "Rio de Janeiro": null,
              "Ilheus": null,
          }
      })
    </script> 
</body>
</html>