<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>TravelBrazil</title>
    <!-- Compiled and minified CSS -->   
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
</head>
<body class="scrollspy">
    <main>
        <ul id="dropdown1" class="dropdown-content">
            <% if (!locals.session.usuario) { %>
                <li><a href="/login" class="blue-text text-darken-2"><i class="small material-icons">login</i>Entrar</a></li>               
           <% } else %>
           <li class="divider"></li>
           <% if (locals.session.usuario) { %>
            <li><a href="#!" class="blue-text text-darken-2"><i class="small material-icons"><span class="material-icons">account_circle</span></i>Perfil</a></li>
                <li><a href="/login/logout" class="blue-text text-darken-2"><i class="small material-icons">logout</i>Sair</a></li>               
           <% } else %>
           
        </ul>
        <div class="navbar-fixed">
            <nav class="blue">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo left"><img src="/images/logo_branco_travel_brazil.png" alt=""></a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/hotel/listagemHotel">Hoteis</a></li>
                            <li><a href="/passeio/listagemPasseio">Passeio</a></li>
                            <li><a href="/translado/listagemTranslado">Translado</a></li>
                            <li><a href="/restaurante/listagemRestaurante">Restaurante</a></li>
                            <ul class="right hide-on-med-and-down">
                                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Configurações<i class="material-icons right">arrow_drop_down</i></a></li>
                            </ul>
                        </ul>                       
                    </div>                  
                </div>
            </nav>
         </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Inicio</a></li>
            <li><a href="/hotel/listagemHotel">Hoteis</a></li>
            <li><a href="/passeio/listagemPasseio">Passeio</a></li>
            <li><a href="/translado/listagemTranslado">Translado</a></li>
            <li><a href="/restaurante/listagemRestaurante">Restaurante</a></li>
            <li><a href="/login">Entrar</a></li>
            <li><a href="/login/logout">Sair</a></li>
        </ul>