<%- include("./partials/header") %>
<section class="section container" id="detalhe">
    <div class="row">
        <div class="col s12 l5">
            <h2 class="indigo-text text-darken-4">
                Tudo sobre este hotel
            </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur</p>
            <p> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur</p>
            <p> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur</p>  
        </div>
        <div class="card col s12 l5 offset-l2"> 
            <h4 class="center indigo-text text-darken-4">Detalhes</h4>          
            <div class="row detailInfo">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <label for="icon_prefix">Nome do hotel: <span><%= hoteis[i].hotel_nome %></span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">attach_money</i>
                  <label for="icon_telephone">Preço Original: <span> TGeste</span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">savings</i>
                  <label for="icon_telephone">Preço Promocional: <span> TGeste</span></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">luggage</i>
                    <label for="icon_telephone">Pode levar bagagens? <span> TGeste</span></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="Medium material-icons">accessible</span></i>
                    <label for="icon_telephone">É acessível para deficientes? <span> TGeste</span></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="material-icons">apartment</span></i>
                    <label for="icon_telephone">Recolhe no hotel? <span> TGeste</span></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">pets</i>
                    <label for="icon_telephone">Pode levar Pets? <span> TGeste</span></label>
                </div>
            </div>
        </div>
       
    </div> 
    <div class="row">
        <div class="col s12 l1">
          <img src="/images/arraial-do-cabo.jpg" alt="" class="materialboxed" width="600">
        </div>
        <div class="col s12 l6 offset-l5">
          <h2 class="indigo-text text-darken-4">Praias</h2>
          <p>Lorem Ipsum, Lorem, Lorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, Lorem</p>
        </div>
      </div>   
</section>


<%- include("./partials/footer") %>