<%- include("./partials/header") %>
<div class="slider">
  <ul class="slides">
    <li>
      <img src="/images/praia-de-sao-jose-bahia.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Bahia</h3>
        <h5 class="light grey-text text-lighten-3">Venha visitar nordeste com preço incrível.</h5>
      </div>
    </li>
    <li>
      <img src="/images/resort-tororomba.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Resort</h3> Ilheus
        <h5 class="light grey-text text-lighten-3">Aqui você paga menos e descansa mais.</h5>
      </div>
    </li>
    <li>
      <img src="/images/Beto.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Beto Carrero World</h3>
        <h5 class="light grey-text text-lighten-3">Conheça um dos maiores e melhores parques do Brasil.</h5>
      </div>
    </li>
    <li>
      <img src="/images/Pantanal_em_Mato_Grosso_Brasil.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Pantanal</h3>
        <h5 class="light grey-text text-lighten-3">Sinta e veja o nosso Brasil.</h5>
      </div>
    </li>
  </ul>
</div>
<!--<section id="search" class="section blue darken-1 center scrollspy">
  <div class="container">
        <h4 class="white-text">Pesquisar destinos</h4>
        <nav>
          <div class="nav-wrapper white">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons grey-text">search</i></label>                
                <i class="material-icons">close</i>
              </div>
            </form> 
          </div>
        </nav>
  </div>
  </section>-->
  <section class="section section-icons grey lighten-4 center" id="detalheOpcao">
    <div class="container">
      <div class="row">
        <div class="col s12 m4 l4">
          <div class="card-panel">
            <i class="material-icons large corAzulPrimaria">room</i>
            <h4>Descubra</h4>
            <p>Uma seleção de pacotes para suas próximas férias. Tudo que precisa saber sobre seu destino!</p>
          </div> 
        </div>
        <div class="col s12 m4 l4">
          <div class="card-panel">
            <i class="material-icons large corAzulPrimaria">store</i>
            <h4>Compre aqui</h4>
            <p>Encontre a hospedagem perfeita com os melhores preços. As melhores formas de pagamento estão aqui</p>
          </div> 
        </div>
        <div class="col s12 m4 l4">
          <div class="card-panel">
            <i class="material-icons large corAzulPrimaria">airplanemode_active</i>
            <h4>Passagem área</h4>
            <p>Ofertas de voos com preços arrasadores. Sua viagem completa e com toda segurança</p>
          </div> 
        </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/images/translado.jpg" alt="" class="responsive-img">
    </div>
  </div>
  <section class="container section" id="photo's">
    <div class="row">
      <div class="col s12 l4">
        <img src="/images/arraial-do-cabo.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1">
        <h2 class="black-text">Praias</h2>
        <p>São o desejo de muitos viajantes para dias de férias e descanso. Escolher as melhores praias do Brasil é tarefa quase impossível, até porque são incontáveis as faixas de areia cercadas por mar e cenários espetaculares que merecem a sua visita, seja no verão ou em qualquer outra estação. Entre as melhores praias do Brasil, não faltam pequenas porções de paraíso para ser feliz.</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 l4 push-l7 offset-l1">
        <img src="/images/bh.jpg" alt="" class="responsive-img  materialboxed">
      </div>
      <div class="col s12 l6 pull-l5 right-align offset-l1">
        <h2 class="black-text">Cidades</h2>
        <p>As cidades históricas sempre são ótimos roteiros de viagens e há quem troque as praias pelas ruas e vielas antigas e pelas construções que aguçam nossa memória com suas histórias.

          No Brasil, são muitos os lugares que atraem turistas para conhecerem os mais belos e fascinantes centros históricos e suas riquezas culturais.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 l4">
        <img src="/images/cachoeira_furnas.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6">
        <h2 class="black-text">Natureza</h2>
        <p>Expedições em unidades de conservação com profunda interação com a natureza e imersão nas comunidades locais através do turismo de base comunitária e vivências com ou sem voluntariado.</p>
      </div>
    </div>
  </section>
  
  <div class="parallax-container">
    <div class="parallax">
      <img src="/images/praias-nordeste.jpg" alt="" class="responsive-img">
    </div>
  </div>
  <section class="section section-follow white lighten-2 center redeSociais">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4 class="black-text">Siga-nos nas redes sociais</h4>
          <p class="black-text">Acompanhe nas midias sociais para ofertas especiais.</p>
          <a href="">
            <img src="/images/akar-icons_facebook-fill.svg" alt="">
          </a>
          <a href="">
            <img src="/images/akar-icons_instagram-fill.svg" alt="">
          </a>
          <a href="">
            <img src="/images/akar-icons_pinterest-fill.svg" alt="">
          </a>
          <a href="">
            <img src="/images/akar-icons_twitter-fill.svg" alt="">
          </a>
        </div>
      </div>         
    </div>
  </section>
<%- include("./partials/footer") %>