<%- include("./partials/header") %>
<div class="slider">
  <ul class="slides">
    <li>
      <img src="/images/praia-de-sao-jose-bahia.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Bahia</h3>
        <h5 class="light grey-text text-lighten-3">Venha visitar nordeste com preço incrível.</h5>
      </div>
    </li>
    <li>
      <img src="/images/resort-tororomba.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Resort</h3> Ilheus
        <h5 class="light grey-text text-lighten-3">Aqui você paga menos e descansa mais.</h5>
      </div>
    </li>
    <li>
      <img src="/images/Beto.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Beto Carrero World</h3>
        <h5 class="light grey-text text-lighten-3">Conheça um dos maiores e melhores parques do Brasil.</h5>
      </div>
    </li>
    <li>
      <img src="/images/Pantanal_em_Mato_Grosso_Brasil.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Pantanal</h3>
        <h5 class="light grey-text text-lighten-3">Sinta e veja o nosso Brasil.</h5>
      </div>
    </li>
  </ul>
</div>
<section id="search" class="section blue darken-1 center scrollspy">
  <div class="container">
        <h4 class="white-text">Pesquisar destinos</h4>
        <nav>
          <div class="nav-wrapper white">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons grey-text">search</i></label>                
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
  </div>
  </section>
  <section class="section section-icons grey lighten-4 center" id="detalheOpcao">
    <div class="container">
      <div class="row">
        <div class="col s12 m4 l4">
          <div class="card-panel">
            <i class="material-icons large blue-text">room</i>
            <h4>Descubra</h4>
            <p>Lorem ipsum dolor sit am LoreLorem ipsum dolor sit am LoremLorem ipsum dolor sit am LoremLorem ipsum dolor sit am LoremLorem ipsum dolor sit am Loremm</p>
          </div> 
        </div>
        <div class="col s12 m4 l4">
          <div class="card-panel">
            <i class="material-icons large blue-text">store</i>
            <h4>Compre aqui</h4>
            <p>Lorem ipsum dolor sit am LoreLorem ipsum dolor sit am LoremLorem ipsum dolor sit am LoremLorem ipsum dolor sit am LoremLorem ipsum dolor sit am Loremm</p>
          </div> 
        </div>
        <div class="col s12 m4 l4">
          <div class="card-panel">
            <i class="material-icons large blue-text">airplanemode_active</i>
            <h4>Passagem área</h4>
            <p>Lorem ipsum dolor sit am LoreLorem ipsum dolor sit am LoremLorem ipsum dolor sit am LoremLorem ipsum dolor sit am LoremLorem ipsum dolor sit am Loremm</p>
          </div> 
        </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/images/translado.jpg" alt="" class="responsive-img">
    </div>
  </div>
  <section class="container section" id="photo's">
    <div class="row">
      <div class="col s12 l4">
        <img src="/images/arraial-do-cabo.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1">
        <h2 class="indigo-text text-darken-4">Praias</h2>
        <p>Lorem Ipsum, Lorem, Lorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, Lorem</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 l4 push-l7 offset-l1">
        <img src="/images/bh.jpg" alt="" class="responsive-img  materialboxed">
      </div>
      <div class="col s12 l6 pull-l5 right-align offset-l1">
        <h2 class="indigo-text text-darken-4">Cidades</h2>
        <p>Lorem Ipsum, Lorem, Lorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, Lorem</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 l4">
        <img src="/images/cachoeira_furnas.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6">
        <h2 class="indigo-text text-darken-4">Natureza</h2>
        <p>Lorem Ipsum, Lorem, Lorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, LoremLorem Ipsum, Lorem</p>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/images/praias-nordeste.jpg" alt="" class="responsive-img">
    </div>
  </div>
<%- include("./partials/footer") %>