
<%- include("./partials/header") %>  
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer">
        
    </div>
    <!-- Mobile menu overlay mask -->
	<main>
    <section id="hero" class="login">
    	<div class="container">
        	<div class="row justify-content-center">
            	<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                	<div id="login">
                    		<div class="text-center"><img src="images/img/logo_sticky.png" alt="Image" data-retina="true" ></div>
                            <hr>
                            <form method="POST" action="/login">
                                <% if (typeof error != 'undefined') { %>
                                    <div class="materialert error">
                                        <div class="material-icons"></div>
                                         <%= error %>
                                    </div>
                                <%}%>
                                <a href="#0" class="social_bt facebook">Entrar com Facebook</a>
                                <a href="#0" class="social_bt google">Entrar com Google</a>
                                <div class="divider"><span>Ou</span></div>
                                <div class="form-group">
                                    <label>Usuário</label>
                                    <input type="text" class=" form-control " placeholder="Username" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input type="password" class=" form-control" placeholder="Password" name="senha">
                                </div>
                                <p class="small">
                                    <a href="#">Esqueceu senha?</a>
                                </p>
                                <button href="#" class="btn_full">Entrar</button>
                                <a href="/registrar " class="btn_full_outline">Registrar</a>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </section>    
	</main><!-- End main -->
<%- include("./partials/footer") %>