body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

.carousel-slider img{
  height: 400px;
}

.pesquisarCampo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-action a, .promocional{
  font-weight: bold;
}

.redeSociais img{
  margin: 15px;
}
.slider{
  background-color: #f5f5f5 ;
}

.precoPromocional{
  font-size: 22px;
  font-weight: 600;
}

#cadastro{
  width: 800px;
}

#container_registrar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 2;
}

#registrar_card{
  align-items: center;
  width: 600px;
  padding: 10px;
}

#botoes_registrar{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#botoes_registrar .btn{
  width: 150px;
  text-align: center;
  margin-left: 15px;
}
.lembrarMe{
  margin-bottom: 70px;
}
.section-search input{
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

#authContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 2;
}
#cardAuth{
  align-items: center;
  width: 600px;
  padding: 10px;
}

.card-content p{
  word-wrap: break-word;  
}

#detalheOpcao{
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.detailInfo .input-field{
  margin-bottom: 50px;
  margin-left: 50px;
}

.login{
  margin-top:150px;
  margin-bottom:150px;

}
.login .card{
  background: rgba(0, 0, 0, .6);
}
.login label{
  font-size: 16px;
  color: #ccc;
}
.login input{
  font-size: 20px;
}




.materialert{
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s linear;
  webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.materialert .material-icons{
  margin-right: 10px;
}
.materialert .close-alert{
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 16px;
  right: 5px;
}
.materialert.info{
  background-color: #039be5;
  color: #fff;
}
.materialert.success{
  background-color: #43a047;
  color: #fff;
}
.materialert.error{
  background-color: #c62828;
  color: #fff;
}
.materialert.danger{
  background-color: #c62828;
  color: #fff;
}
.materialert.warning{
  background-color: #fbc02d;
  color: #fff;
}


